.swal2-popup {
  font-family: Roboto,sans-serif !important; }

.dialog.centered-dialog,
.v-dialog.centered-dialog {
  background: #282c2d;
  box-shadow: none;
  border-radius: 6px;
  width: auto;
  color: whitesmoke; }
